.hero {

    &_bg {
        background-color: rgba(0, 0, 0, 0.551);
    }

  

    &_row {


        &_input {

            width: 100%;
            height: 46px;
            line-height: 46px;
            font-size: 1.1em;
            color: rgba(0, 0, 0, .5);
            border: 0;
            border-radius: 30px;
            padding: 10px 20px;
            outline: none;

            &_search {
                height: 46px;
                padding: 10px 26px;
                border: 0;
                background: linear-gradient(to right, rgba(30, 213, 196, 1) 20%, rgba(1, 180, 228, 1) 80%);
                border-radius: 30px;
                position: absolute;
                top: 0;
                right: -1px;
                color: #fff;
                font-weight: 600;
                font-size: 16px;
            }
        }
    }

}