.navbar_menu {

    &_item {
        position: relative;
        font-weight: 400;

        &_menu {
            width: 190px;
            max-height: 276.4px;
            overflow: auto;
            position: absolute;
            font-size: 16px;
            font-stretch: 100%;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            display: none;
            transform: translateY(0px);
            background-color: white;
            border-radius: 4px;
            padding: 8px 24px;
            top: 100%;
            left: 0;
            border: 1px solid lightgray;
        }

        .navbar_menu_item:hover &_menu {
            display: block;
        }

    }
}