@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Source Sans Pro', sans-serif;
}

.my-container {
    width: 1300px !important;
    margin: 0 auto !important;

}

img{
    object-fit:  cover;
}